openapi: 3.0.0
info:
  title: User mangament Copy
  description: |-
    You can use endpoints to register, auth, update users based on their roles.

    Roles we have:

    1. Retailer
    2. Customer
    3. employee
  version: 1.0.0
servers:
  - url: https://gold.loyaltty.com/
components:
  securitySchemes:
    noauthAuth:
      type: http
      scheme: noauth
    bearerAuth:
      type: http
      scheme: bearer
tags:
  - name: Retailer
  - name: Retailer > Deal
    description: >-
      Order deal or the endpoint "host/retailer/deal" is responsable for the
      following:


      1. [Create New
      deal](https://lightringtechnology.postman.co/workspace/Loyaltty-app~2eb41766-47d1-4ffd-893c-ed046bf71c8d/request/23448070-3f4b0fd0-2e5c-40ab-827f-d1e4e3b05ac0?active-environment=e45407dd-be67-4270-88b5-be670e5ca860)
          
      2. [Create welcome
      deal](https://lightringtechnology.postman.co/workspace/Loyaltty-app~2eb41766-47d1-4ffd-893c-ed046bf71c8d/request/23448070-3f4b0fd0-2e5c-40ab-827f-d1e4e3b05ac0?active-environment=e45407dd-be67-4270-88b5-be670e5ca860)
          
      3. Get all deals

      4. Get single deal
  - name: Retailer > Deal > Update Single Deal
  - name: Retailer > Business
  - name: Retailer > Business > Categories
  - name: Retailer > Business > Update bussiness
  - name: Retailer > Authentication
  - name: Retailer > Authentication > Registeration
    description: >-
      the registeration of the retailer is done in 4 steps:


      1. Register user information including personal information.

      2. Verify user phone number that the user submitted in Step1.

      3. Add Business information.

      4. Upload business images.
          

      In the last step of uploading the images. the user will automaticlly
      signed in. and you will get the JWT token along with the request.


      Created date: 08/24/2024


      Modifided date: .
  - name: Retailer > Authentication > Login & Logout & verify token
  - name: Retailer > Authentication > Forgot password
  - name: Retailer > Employees
  - name: Retailer > Reward
  - name: Retailer > Notifications
  - name: Retailer > Analytics
  - name: Customer
  - name: Customer > Auth
  - name: Customer > Business
  - name: Customer > Deal
  - name: Customer > Notifications
  - name: Admin
  - name: Admin > Auth
  - name: Admin > Retailer
  - name: Admin > Customer
  - name: Employee
  - name: Employee > Notifications
paths:
  /retailer/deal/{dealId}:
    put:
      tags:
        - Retailer > Deal > Update Single Deal
      summary: Update Deal Information
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: new name
                price: 123
                currency: usd
                start_date: '2023-12-23'
                end_date: '2023-12-31'
                repeat: '["sun","Mon","Tue","sat"]'
                repeat_type: byday
                terms_and_conditions: new terms
                full_details: new details
      parameters:
        - name: dealId
          in: path
          schema:
            type: integer
          required: true
          example: '20'
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Thu, 21 Sep 2023 10:26:01 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '506'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"1fa-iNSNv23XrbZNlI3eodqFMtx2T1s"
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
                message: deal_updated_successfully
                data:
                  id: '81'
                  name: very new name
                  price: 1000
                  currency: egp
                  description: very new long description
                  repeat: '["Wed","Thu","Fri","Sat"]'
                  repeat_type: byday
                  start_date: '2023-09-20T21:00:00.000Z'
                  end_date: '2023-09-20T21:00:00.000Z'
                  type: deal
                  full_details: very new long terms and conditions
                  terms_and_conditions: very new long details
                  created_at: '2023-09-20T22:57:29.669Z'
                  updated_at: '2023-09-21T10:26:01.818Z'
        '400':
          description: Bad Request
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Thu, 21 Sep 2023 10:28:41 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '352'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"160-wLlsBNGMLH06e5KO/0Gn2aKykg8"
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: '[400] validation errors'
                  value:
                    success: false
                    errorCode: validation_error
                    errorMessages:
                      - Deal name is invalid.
                      - Deal price is invalid.
                      - Deal price must be a number.
                      - Deal currency is required.
                      - Short description is required.
                      - Full details is required.
                      - Terms and conditions is required.
                      - Please select a valid start date.
                      - End date must be greater than start date.
                example-1:
                  summary: '[400] repeat not sent while repeat_type is byday'
                  value:
                    success: false
                    errorCode: validation_error
                    errorMessages:
                      - Please select a repeat type.
                example-2:
                  summary: '[400] edit past deal'
                  value:
                    success: false
                    message: you can't edit a past deal
                    errorCode: internal
                example-3:
                  summary: '[400] Edit active deal start date'
                  value:
                    success: false
                    message: >-
                      Deal is currenlty active, you can't change the start date
                      of a deal
                    errorCode: internal
                example-4:
                  summary: '[400] End date is smaller or equal then start date'
                  value:
                    success: false
                    message: End date must be greater than start date.
                    errorCode: internal
                example-5:
                  summary: '[400] Upcoming deal start date must be greater than now'
                  value:
                    success: false
                    message: Start date must be greater than today's date.
                    errorCode: internal
        '500':
          description: Internal Server Error
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Thu, 21 Sep 2023 10:41:01 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '95'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"5f-NcYwcQvbr8GlwDkyG7XaJJMY+qI"
          content:
            application/json:
              schema:
                type: object
              example:
                success: false
                message: failed_to_update_deal
                detailes: deal_is_past
                errorCode: internal
    get:
      tags:
        - Retailer > Deal
      summary: Get Deal details
      parameters:
        - name: dealId
          in: path
          schema:
            type: integer
          required: true
          example: '1'
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Thu, 14 Sep 2023 11:22:28 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '1364'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"554-zJQy+/uzbkHUIpeau+MUPc65sqc"
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: '[200] Get success'
                  value:
                    success: true
                    message: deal
                    data:
                      id: '25'
                      name: My deal
                      num_of_visits: null
                      type: deal
                      price: 1000
                      currency: USD
                      description: very long description
                      full_details: very long details
                      start_date: '2023-02-28T21:00:00.000Z'
                      end_date: '2023-10-01T21:00:00.000Z'
                      repeat: '{}'
                      repeat_type: all
                      terms_and_conditions: very long terms of use
                      business_id: '27'
                      created_at: '2023-09-14T09:02:47.649Z'
                      updated_at: '2023-09-14T09:02:47.649Z'
                      status: active
                      pictures:
                        count: 1
                        files:
                          - id: '25'
                            deal_id: '25'
                            picture_url: >-
                              https://storage.googleapis.com/loyaltty-app.appspot.com/deal/27/Screenshot%202023-09-12%2019360418a92ed9634.png?GoogleAccessId=firebase-adminsdk-rva68%40loyaltty-app.iam.gserviceaccount.com&Expires=16441218000&Signature=dVloC%2F4j4Nb3G4WncaTUxmaHrEecUHunI%2B%2FbCg5kDeiwwmEsukvZHtSyw5qHhQ4qyQ8s%2B49HCVk6uFY1TuVaQwrskSehLn8ntnfWk57dnOTsnZ6plk5qPjFZfpxd7o51ErJp1PnS%2Ff4N7mZDst3kp%2BMxzKIMpbdkbVMxP3n%2BToSIdphx9%2FFHiCflUkFpn9ffvsxDzan6fX%2FEfsfSKk6y%2B99DdxCy4v9vBB1%2Fu8ItWK7awXkeZnhJSw0Ly9EEKvZkf0WTLE%2FpUbiEI%2F%2BPH0GHwKlCem2JhhtWx9ziOoM9TdIBWg%2BtjTcP1kVSoCXazpKYnRhyov66LXkfgAvLVhUsnA%3D%3D
                            picture_type: deal_picture
                            storage_type: firebase
                            storage_path: >-
                              deal/27/Screenshot 2023-09-12
                              19360418a92ed9634.png
                            created_at: '2023-09-14T09:02:47.652Z'
                            updated_at: '2023-09-14T09:02:47.652Z'
                example-1:
                  summary: '[200] Sucess'
                  value:
                    success: true
                    message: deal
                    data:
                      id: '31'
                      name: My deal
                      num_of_visits: null
                      type: welcome
                      price: 1000
                      currency: USD
                      description: very long description
                      full_details: very long details
                      start_date: null
                      end_date: null
                      repeat: '{}'
                      repeat_type: null
                      terms_and_conditions: very long terms of use
                      business_id: '27'
                      created_at: '2023-09-14T11:34:48.149Z'
                      updated_at: '2023-09-14T11:34:48.149Z'
                      status: past
                      pictures:
                        count: 1
                        files:
                          - id: '30'
                            deal_id: '31'
                            picture_url: >-
                              https://storage.googleapis.com/loyaltty-app.appspot.com/deal/27/Screenshot%202023-09-12%2019360418a9378d2e6.png?GoogleAccessId=firebase-adminsdk-rva68%40loyaltty-app.iam.gserviceaccount.com&Expires=16441218000&Signature=bZzbAxNeAF%2FCAqyMFbwd%2FNMO7OcrUZMAPDI2CDhluu70hkm9j%2BBkEB7gB2I%2BLLli%2BkEgbNDH2%2F37Ze2IwL6bgASmN0W7qZ%2FxfHb4VNe2h%2FqoePdH3A9Ho%2F7UEiC9lEzNyb7HKEsMtXS%2BJ15OGxntanigzSjlcLvOnwJ5UkP0GnbMzOYTP6WB%2BbOULNts%2FbHJiyWX20jx%2BZi83fhZRJDoFB1oZqsLX4Z0qdYxICA3blzML6s%2Fvwbw%2BEdbdQd3Ak3NlYlftipbjAk6nQ2qVS8F7xElIW5kDJNRljFn177gYKSqoyuwJt3ieHypuD2%2B5HLk%2FAh9ElMQxnyro7qL97ReFw%3D%3D
                            created_at: '2023-09-14T11:34:48.152Z'
        '500':
          description: Internal Server Error
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Thu, 14 Sep 2023 11:18:46 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '96'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"60-MK/JxTUtMAmpJC85ltqUeVoGVqs"
          content:
            application/json:
              schema:
                type: object
              example:
                success: false
                message: Deal not found.
                detailes: deal_not_found
                errorCode: internal
  /retailer/deal/{dealId}/picture/{pictureId}:
    delete:
      tags:
        - Retailer > Deal > Update Single Deal
      summary: Delete single Deal picture
      parameters:
        - name: dealId
          in: path
          schema:
            type: integer
          required: true
          example: '42'
        - name: pictureId
          in: path
          schema:
            type: integer
          required: true
          example: '74'
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Thu, 21 Sep 2023 11:37:13 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '768'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"300-u2fRPpFzDEr2cWpi8yhb3QJ273Q"
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
                message: Deal picture deleted successfully.
                data:
                  count: 1
                  files:
                    - id: '91'
                      deal_id: '81'
                      picture_url: >-
                        https://storage.googleapis.com/loyaltty-app.appspot.com/deal/42/Screenshot%202023-09-13%2014493318ab4d00954.png?GoogleAccessId=firebase-adminsdk-rva68%40loyaltty-app.iam.gserviceaccount.com&Expires=16441218000&Signature=1HJWV7oF8iA5jMRf%2FBw%2B%2B0PVV6HNS23MFxDDyL%2BupWI2umeUFTFF4aofHv6wJLWR0GjWXuVoOziiAqAoluF6h0w2YNtGlHreKycc2ncbKm5YbRVCo%2F5lX4vlPsJVPvsVEnDb9GF7JD03dkzODubS3lMrnI1y1IZM18BKG0Zv8IYEcyWWsWY0TACwcPHghrpMeeDnrCnjW%2ByeFTPXzCShuSubmK3lIUcTCmaD1AzHXjcOG4%2Fh44bRuBk12wn3n8HuDCUQ6SKyXBM%2FJ75wAoSuDqCPdZesri%2BRory7zNU5xDrpnPtY4emneUTS%2FMDjxx%2BwUalaExivAhCU98P%2FxtnLnA%3D%3D
                      created_at: '2023-09-20T22:57:29.673Z'
        '400':
          description: Bad Request
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Thu, 21 Sep 2023 11:32:31 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '89'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"59-wFXhbBUKPqPTME1Fvk5nLK27Xzw"
          content:
            application/json:
              schema:
                type: object
              example:
                success: false
                message: Deal must have at least one picture.
                errorCode: internal
        '404':
          description: Not Found
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Thu, 21 Sep 2023 11:26:52 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '68'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"44-fIwl1LVvexpHBCqjk7Yl38+zJS4"
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: '[404] Deal not found'
                  value:
                    success: false
                    message: Deal not found.
                    errorCode: internal
                example-1:
                  summary: '[404] Picture not found'
                  value:
                    success: false
                    message: Picture not found.
                    errorCode: internal
        '500':
          description: Internal Server Error
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Thu, 21 Sep 2023 11:33:21 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '123'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"7b-07ke5AVCKCNspWw4jaK+xeo9v1k"
          content:
            application/json:
              schema:
                type: object
              example:
                success: false
                message: Failed to delete deal picture, Please try again.
                detailes: db_error
                errorCode: internal
  /retailer/deal/{dealId}/picture:
    post:
      tags:
        - Retailer > Deal > Update Single Deal
      summary: Upload deal pictures
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                picture:
                  type: string
                  format: binary
      parameters:
        - name: dealId
          in: path
          schema:
            type: integer
          required: true
          example: '42'
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Thu, 21 Sep 2023 13:58:14 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '2122'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"84a-Id/vQfPlzvVypwMQGL/4/NJhpyM"
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
                message: Deal picture updated successfully.
                data:
                  count: 3
                  files:
                    - id: '99'
                      deal_id: '81'
                      picture_url: >-
                        https://storage.googleapis.com/loyaltty-app.appspot.com/deal/42/Screenshot%202023-08-13%2018381218ab808107e.png?GoogleAccessId=firebase-adminsdk-rva68%40loyaltty-app.iam.gserviceaccount.com&Expires=16441218000&Signature=hRimHBh%2F90T5j86hcNXs%2FzUuUqkpYKgvfDWensziOMri2yFrUYYnAcTV2dOzdM%2BiHP9tpN0NCgxQmq50ZMhxAwWmSuiobp2KBD5jvaXsQXkt3l36VZdAopEqR68uCs7WEknNALNKXPxikwFKuloUSo2vslwZ6%2FDdL5e2llEVQeWN9HhaxQ%2FMjCR1ahgzMvAqIeTJ4dfggxeQDQEaBb%2FH%2FNBwRFDEpG7RAAWNHw3z5txCAfnnr%2BY3kjejP9wjbDRuwC1jM8ApHDOVEWJ35XJI8dsrqQWCFPvZBVm%2BC5cWEXbxmmRmHI1cG6cS4DyAVYnOMQy3Z2hDy8wB7ylvfA2U%2BQ%3D%3D
                      created_at: '2023-09-21T13:57:33.300Z'
                    - id: '100'
                      deal_id: '81'
                      picture_url: >-
                        https://storage.googleapis.com/loyaltty-app.appspot.com/deal/42/Screenshot%202023-08-22%2019171518ab808b457.png?GoogleAccessId=firebase-adminsdk-rva68%40loyaltty-app.iam.gserviceaccount.com&Expires=16441218000&Signature=Je74eRRW33ipMQ5U6%2BYBjqM5l%2B%2F522DTRQxho8LFnyhjFkB7eOXNF504i5otlVTECCjSIhTHcqe9SCCcdVEto6pnbsWq%2B6E2tAKYiBC1FrClp7G13ZL%2FmrllAwkb62pB0AhM%2FoSph0vbSBrxFJhqg6IwAdC9Jv8RE0lgmHgM61Q1nzqrY8djX4QKVj5un1Bt1WWLmcVtrgOPBNEcK%2Fk5wHu0eGrHA%2BMwuzXLs2kMOatBBfkTWeVTGkt%2F5YgeQhZK3TGlKzzw%2FQgnyjHZABqMBwr9%2Fqgf%2BwHkhI7JqsbOCLNQv4V5sTpkHl3%2FxG31sJfjDKBzkJ7TfPf30ksYFARwWg%3D%3D
                      created_at: '2023-09-21T13:58:14.685Z'
                    - id: '101'
                      deal_id: '81'
                      picture_url: >-
                        https://storage.googleapis.com/loyaltty-app.appspot.com/deal/42/Screenshot%202023-08-13%2018381218ab808b458.png?GoogleAccessId=firebase-adminsdk-rva68%40loyaltty-app.iam.gserviceaccount.com&Expires=16441218000&Signature=HCyf%2BqVPRrCaSAnS2p81afCNUgy07B9uoW1S06pOsNsiNCK00T9zrIBh9XHhuUrjPInBzL9CL8CYJJND%2BV%2FieHNExxi2m872LOiFwZXFgL8D4ihE7vGGt8FYxrS12pHA8I%2FrfpwKzkWqHaNVy5uHI845LSVuRFXTCXsUcofp0D%2B1YlCVA%2FiSw79LqQNS%2BX5xczVlp7T6P3DBVOhWPspO6Y6EKbmtNMzClgNj8F1eMPqn%2BeNrE0B8%2Fo%2F%2Fp2%2FzxAqFRp7E8fL18J4xBVgApcECK0zhyNpmDoUgD6doaiO8vWA7yiYZs1O0thKSW3jB8vPCGiFQdCgVDRfFqpWtt%2FSb6w%3D%3D
                      created_at: '2023-09-21T13:58:14.710Z'
        '400':
          description: Bad Request
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Thu, 21 Sep 2023 13:48:30 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '125'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"7d-f02X7b5obPDM9X5ohDsppVS06KI"
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: '[400] Deal must have 3 pictures only'
                  value:
                    success: false
                    message: >-
                      Deal must have only three pictures. Please delete the old
                      picture first.
                    errorCode: internal
                example-1:
                  summary: '[400] Selecting more than 3 pictures'
                  value:
                    success: false
                    message: Deal picture must have only 3 pictures or less.
                    errorCode: internal
                example-2:
                  summary: '[400] Invalid file type'
                  value:
                    success: false
                    message: >-
                      File type must be an image. allowed types: jpg, jpeg or
                      png
                    errorCode: internal
                example-3:
                  summary: '[400] file size exceeded'
                  value:
                    success: false
                    message: Maximum file size exceeded. Maximum file size is 16MB
                    errorCode: internal
        '404':
          description: Not Found
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Thu, 21 Sep 2023 13:46:52 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '68'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"44-fIwl1LVvexpHBCqjk7Yl38+zJS4"
          content:
            application/json:
              schema:
                type: object
              example:
                success: false
                message: Deal not found.
                errorCode: internal
        '500':
          description: Internal Server Error
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Thu, 21 Sep 2023 13:59:03 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '110'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"6e-+8g+qPqM/wY6dHpOakT9yJnTC9w"
          content:
            application/json:
              schema:
                type: object
              example:
                success: false
                message: Deal picture not updated, Please try again.
                detailes: {}
                errorCode: internal
  /retailer/deal/create:
    post:
      tags:
        - Retailer > Deal
      summary: Create new deal
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                price:
                  type: integer
                  example: '10'
                name:
                  type: string
                  example: My postman deal
                currency:
                  type: string
                  description: >-
                    string , length : 3 , Ref:
                    https://knowledgecenter.zuora.com/Quick_References/Country%2C_State%2C_and_Province_Codes/D_Currencies_and_Their_3-Letter_Codes
                  example: USD
                description:
                  type: string
                  example: very long description
                full_details:
                  type: string
                  example: very long details
                terms_and_conditions:
                  type: string
                  example: very long terms of use
                picture:
                  type: string
                  description: png , jpeg allowed, 16MB max , 3 files max
                  format: binary
                type:
                  type: string
                  description: >-
                    enum values: "welcome" | "deal" , "welcome" used for welcome
                    deal, "deal" used for any other deal
                  example: deal
                start_date:
                  type: string
                  description: >-
                    optional if type = welcome , format: `YYYY-MM-DD` , rules:
                    MM <= 12 , DD<= 31 ,MM & DD > 0 , start_date < end_date
                  example: '2023-12-06'
                end_date:
                  type: string
                  description: >-
                    optional if type = welcome , format: `YYYY-MM-DD` , rules:
                    MM <= 12 , DD<= 31 , MM & DD > 0  , end_date > start_date
                  example: '2023-12-31'
                repeat:
                  type: string
                  description: >-
                    optional , 3 letters day name, captilization is not
                    required, double qoute is required for each day name , max
                    array values = 7
                  example: '["sun","Mon","Tue","Wed","Thu","Fri","Sat"]'
                repeat_type:
                  type: string
                  description: >-
                    required only if "repeat" is send ,  enum values : "all" ,
                    "byday" . "all" means repeat for all days, "byday" means
                    repeat only in the selected "repeat" days
                  example: all
                _testing_only_force_create_new_welcome_deal:
                  type: boolean
                  example: 'false'
      responses:
        '201':
          description: Created
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Wed, 13 Sep 2023 13:22:21 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '1196'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"4ac-+wZf0ypyXUSoHrqfXG9upUlPVww"
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: '[201] Deal created'
                  value:
                    success: true
                    message: Deal added successfully
                    data:
                      id: '2'
                      name: My deal
                      price: 1000
                      currency: USD
                      description: very long description
                      repeat: '{}'
                      repeat_type: all
                      start_date: '2123-12-30T21:00:00.000Z'
                      end_date: '2124-12-30T21:00:00.000Z'
                      type: welcomee
                      full_details: very long details
                      terms_and_conditions: very long terms of use
                      created_at: '2023-09-13T13:22:21.321Z'
                      updated_at: '2023-09-13T13:22:21.321Z'
                      pictures:
                        count: 1
                        files:
                          - picture_url: >-
                              https://storage.googleapis.com/loyaltty-app.appspot.com/deal/27/Screenshot%202023-09-13%2014493318a8eb4f682.png?GoogleAccessId=firebase-adminsdk-rva68%40loyaltty-app.iam.gserviceaccount.com&Expires=16441218000&Signature=dCeRHxh711Xtrglm8dbdbhoAEzuGx4WX7ESNtvBg8NfQ%2BQidbC4nEBzfBP3J%2FxbRQBg6BJYE9kIO4IKPkQVMR1rlbo1FGCGp1K4VJkca4CqOv3Yq%2FJ0PVJh%2Fn%2BlmJIrqXlBrvdd28HW2y8kyDEdV0YS3u3AUWwwmdZK6zYWYzp3Ebts3WT9t3XZdTdsj3THrXHxvLl3krTN7KG0JANUTdH3xpAOU1pVP5YfgmxB890KXd6kqpzybGlxNAyMXrGIRR8HSndGWwLunWIzTrVtBCw%2B0Mi19%2Ffbp1qyarQy3MiDotjsuly0NJsL%2FKBtkoHANNMazFsmXz%2FE8C8VZomzNZQ%3D%3D
                            picture_type: deal_picture
                            created_at: '2023-09-13T13:22:21.326Z'
                            updated_at: '2023-09-13T13:22:21.326Z'
                example-1:
                  summary: '[201] Welcome deal created'
                  value:
                    success: true
                    message: Deal added successfully
                    data:
                      id: '3'
                      name: My deal
                      price: 1000
                      currency: USD
                      description: very long description
                      repeat: '{}'
                      repeat_type: null
                      start_date: null
                      end_date: null
                      type: welcome
                      full_details: very long details
                      terms_and_conditions: very long terms of use
                      created_at: '2023-09-13T13:23:05.142Z'
                      updated_at: '2023-09-13T13:23:05.142Z'
                      pictures:
                        count: 1
                        files:
                          - picture_url: >-
                              https://storage.googleapis.com/loyaltty-app.appspot.com/deal/27/Screenshot%202023-09-13%2014493318a8eb5a632.png?GoogleAccessId=firebase-adminsdk-rva68%40loyaltty-app.iam.gserviceaccount.com&Expires=16441218000&Signature=LjacMwWb8hURqfEPJODiRDIHNburLBRkwXJxMkcCyAHhoxMUGEYUixf32lMkNtj232GBxDki4T2vvDCSxhMRiIHBrXy0p%2BseOCumTULCF2JPrUyyGIykvCXBNEaiSzweNNPalrJtVnLipOBRCzT77IHPk63nyBtpERzlXcMuCPg3g%2B5%2FAQR0KSt9HptNfWEaio66wM9qoX5rdmUAGXNYXUMiVF%2BWYPeoIODtWmoLViZNV%2BMxPiHyCSS9uXUFDVeJd38Q8wcag8MTZTPmUYOMMb%2Fe7MaYgWrPWufBQk29XQzX2je5fyFUxngBvD10ZZYyBZym%2Fzl0j61W3fGc2VPhPQ%3D%3D
                            picture_type: deal_picture
                            created_at: '2023-09-13T13:23:05.147Z'
                            updated_at: '2023-09-13T13:23:05.147Z'
        '400':
          description: Bad Request
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Wed, 13 Sep 2023 11:24:03 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '77'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"4d-cjsV9tUtZY/ZVqg9ogxSM+UauAE"
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: '[400] Deal picture is required'
                  value:
                    success: false
                    message: Deal picture is required
                    errorCode: internal
                example-1:
                  summary: '[400] Upload more than 3 pictures'
                  value:
                    success: false
                    message: Deal picture must have only 3 pictures or less.
                    errorCode: internal
                example-2:
                  summary: '[400] Invalid file type'
                  value:
                    success: false
                    message: >-
                      File type must be an image. allowed types: jpg, jpeg or
                      png
                    errorCode: internal
                example-3:
                  summary: '[400] Max file size exceeded'
                  value:
                    success: false
                    message: Maximum file size exceeded. Maximum file size is 16MB
                    errorCode: internal
                example-4:
                  summary: '[400] validation errors'
                  value:
                    success: false
                    errorCode: validation_error
                    errorMessages:
                      - Deal name is invalid.
                      - Deal price is invalid.
                      - Deal price must be a number.
                      - Deal currency is required.
                      - Short description is required.
                      - Full details is required.
                      - Terms and conditions is required.
                      - Please select a valid start date.
                      - End date must be greater than start date.
                      - Please select a day to repeat. or select all
                      - Please select a repeat type.
                      - Deal type must be a welcome deal or deal.
                example-5:
                  summary: '[400] validation error (Welcome deal exist)'
                  value:
                    success: false
                    errorCode: validation_error
                    errorMessages:
                      - Welcome deal already exists for this business.
        '500':
          description: Internal Server Error
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Wed, 13 Sep 2023 18:41:49 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '100'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"64-yIv93HjH5yZqt0bACFH6GdHu9OE"
          content:
            application/json:
              schema:
                type: object
              example:
                success: false
                message: Deal not added, Please try again.
                detailes: {}
                errorCode: internal
  /retailer/deal/copy:
    post:
      tags:
        - Retailer > Deal
      summary: Save as new deal
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                price: 10002
                name: My postman deal
                currency: USD
                description: very long description
                full_details: very long details
                terms_and_conditions: very long terms of use
                pictures:
                  - 1
                  - 2
                  - 3
                type: deal
                start_date: '2024-12-23'
                end_date: '2024-12-31'
                repeat:
                  - sun
                  - Mon
                  - Tue
                  - Wed
                  - Thu
                  - Fri
                  - Sat
                repeat_type: byday
                _testing_only_force_create_new_welcome_deal: false
      responses:
        '201':
          description: Created
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Wed, 13 Sep 2023 13:22:21 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '1196'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"4ac-+wZf0ypyXUSoHrqfXG9upUlPVww"
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: '[201] Deal created'
                  value:
                    success: true
                    message: Deal added successfully
                    data:
                      id: '2'
                      name: My deal
                      price: 1000
                      currency: USD
                      description: very long description
                      repeat: '{}'
                      repeat_type: all
                      start_date: '2123-12-30T21:00:00.000Z'
                      end_date: '2124-12-30T21:00:00.000Z'
                      type: welcomee
                      full_details: very long details
                      terms_and_conditions: very long terms of use
                      created_at: '2023-09-13T13:22:21.321Z'
                      updated_at: '2023-09-13T13:22:21.321Z'
                      pictures:
                        count: 1
                        files:
                          - picture_url: >-
                              https://storage.googleapis.com/loyaltty-app.appspot.com/deal/27/Screenshot%202023-09-13%2014493318a8eb4f682.png?GoogleAccessId=firebase-adminsdk-rva68%40loyaltty-app.iam.gserviceaccount.com&Expires=16441218000&Signature=dCeRHxh711Xtrglm8dbdbhoAEzuGx4WX7ESNtvBg8NfQ%2BQidbC4nEBzfBP3J%2FxbRQBg6BJYE9kIO4IKPkQVMR1rlbo1FGCGp1K4VJkca4CqOv3Yq%2FJ0PVJh%2Fn%2BlmJIrqXlBrvdd28HW2y8kyDEdV0YS3u3AUWwwmdZK6zYWYzp3Ebts3WT9t3XZdTdsj3THrXHxvLl3krTN7KG0JANUTdH3xpAOU1pVP5YfgmxB890KXd6kqpzybGlxNAyMXrGIRR8HSndGWwLunWIzTrVtBCw%2B0Mi19%2Ffbp1qyarQy3MiDotjsuly0NJsL%2FKBtkoHANNMazFsmXz%2FE8C8VZomzNZQ%3D%3D
                            picture_type: deal_picture
                            created_at: '2023-09-13T13:22:21.326Z'
                            updated_at: '2023-09-13T13:22:21.326Z'
                example-1:
                  summary: '[201] Welcome deal created'
                  value:
                    success: true
                    message: Deal added successfully
                    data:
                      id: '3'
                      name: My deal
                      price: 1000
                      currency: USD
                      description: very long description
                      repeat: '{}'
                      repeat_type: null
                      start_date: null
                      end_date: null
                      type: welcome
                      full_details: very long details
                      terms_and_conditions: very long terms of use
                      created_at: '2023-09-13T13:23:05.142Z'
                      updated_at: '2023-09-13T13:23:05.142Z'
                      pictures:
                        count: 1
                        files:
                          - picture_url: >-
                              https://storage.googleapis.com/loyaltty-app.appspot.com/deal/27/Screenshot%202023-09-13%2014493318a8eb5a632.png?GoogleAccessId=firebase-adminsdk-rva68%40loyaltty-app.iam.gserviceaccount.com&Expires=16441218000&Signature=LjacMwWb8hURqfEPJODiRDIHNburLBRkwXJxMkcCyAHhoxMUGEYUixf32lMkNtj232GBxDki4T2vvDCSxhMRiIHBrXy0p%2BseOCumTULCF2JPrUyyGIykvCXBNEaiSzweNNPalrJtVnLipOBRCzT77IHPk63nyBtpERzlXcMuCPg3g%2B5%2FAQR0KSt9HptNfWEaio66wM9qoX5rdmUAGXNYXUMiVF%2BWYPeoIODtWmoLViZNV%2BMxPiHyCSS9uXUFDVeJd38Q8wcag8MTZTPmUYOMMb%2Fe7MaYgWrPWufBQk29XQzX2je5fyFUxngBvD10ZZYyBZym%2Fzl0j61W3fGc2VPhPQ%3D%3D
                            picture_type: deal_picture
                            created_at: '2023-09-13T13:23:05.147Z'
                            updated_at: '2023-09-13T13:23:05.147Z'
        '400':
          description: Bad Request
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Wed, 13 Sep 2023 11:24:03 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '77'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"4d-cjsV9tUtZY/ZVqg9ogxSM+UauAE"
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: '[400] Deal picture is required'
                  value:
                    success: false
                    message: Deal picture is required
                    errorCode: internal
                example-1:
                  summary: '[400] Upload more than 3 pictures'
                  value:
                    success: false
                    message: Deal picture must have only 3 pictures or less.
                    errorCode: internal
                example-2:
                  summary: '[400] Invalid file type'
                  value:
                    success: false
                    message: >-
                      File type must be an image. allowed types: jpg, jpeg or
                      png
                    errorCode: internal
                example-3:
                  summary: '[400] Max file size exceeded'
                  value:
                    success: false
                    message: Maximum file size exceeded. Maximum file size is 16MB
                    errorCode: internal
                example-4:
                  summary: '[400] validation errors'
                  value:
                    success: false
                    errorCode: validation_error
                    errorMessages:
                      - Deal name is invalid.
                      - Deal price is invalid.
                      - Deal price must be a number.
                      - Deal currency is required.
                      - Short description is required.
                      - Full details is required.
                      - Terms and conditions is required.
                      - Please select a valid start date.
                      - End date must be greater than start date.
                      - Please select a day to repeat. or select all
                      - Please select a repeat type.
                      - Deal type must be a welcome deal or deal.
                example-5:
                  summary: '[400] validation error (Welcome deal exist)'
                  value:
                    success: false
                    errorCode: validation_error
                    errorMessages:
                      - Welcome deal already exists for this business.
        '500':
          description: Internal Server Error
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Wed, 13 Sep 2023 18:41:49 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '100'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"64-yIv93HjH5yZqt0bACFH6GdHu9OE"
          content:
            application/json:
              schema:
                type: object
              example:
                success: false
                message: Deal not added, Please try again.
                detailes: {}
                errorCode: internal
  /retailer/deal:
    get:
      tags:
        - Retailer > Deal
      summary: Get all deals
      parameters:
        - name: filterBy
          in: query
          schema:
            type: string
          description: active,upcoming,past
          example: active
        - name: orderBy
          in: query
          schema:
            type: string
          description: >-
            Order by values: "created_at", "updated_at", "start_date",
            "end_date"
          example: created_at
        - name: page
          in: query
          schema:
            type: integer
          description: Page number, MIN 1 , MAX infinity
          example: '1'
        - name: limit
          in: query
          schema:
            type: integer
          description: Page number, MIN 1 , MAX infinity
          example: '100'
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Thu, 14 Sep 2023 12:01:35 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '4065'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"fe1-1kxqj3f0gkbyDdwfQtXAsebf2cU"
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: '[200] Get active deals'
                  value:
                    success: true
                    message: deals
                    data:
                      count: 5
                      page: 1
                      limit: 10
                      deals:
                        - id: '31'
                          name: My deal
                          num_of_visits: null
                          type: welcome
                          price: 1000
                          currency: USD
                          description: very long description
                          full_details: very long details
                          start_date: null
                          end_date: null
                          repeat: '{}'
                          repeat_type: null
                          terms_and_conditions: very long terms of use
                          business_id: '27'
                          created_at: '2023-09-14T11:34:48.149Z'
                          updated_at: '2023-09-14T11:34:48.149Z'
                          deal_picture_url: >-
                            https://storage.googleapis.com/loyaltty-app.appspot.com/deal/27/Screenshot%202023-09-12%2019360418a9378d2e6.png?GoogleAccessId=firebase-adminsdk-rva68%40loyaltty-app.iam.gserviceaccount.com&Expires=16441218000&Signature=bZzbAxNeAF%2FCAqyMFbwd%2FNMO7OcrUZMAPDI2CDhluu70hkm9j%2BBkEB7gB2I%2BLLli%2BkEgbNDH2%2F37Ze2IwL6bgASmN0W7qZ%2FxfHb4VNe2h%2FqoePdH3A9Ho%2F7UEiC9lEzNyb7HKEsMtXS%2BJ15OGxntanigzSjlcLvOnwJ5UkP0GnbMzOYTP6WB%2BbOULNts%2FbHJiyWX20jx%2BZi83fhZRJDoFB1oZqsLX4Z0qdYxICA3blzML6s%2Fvwbw%2BEdbdQd3Ak3NlYlftipbjAk6nQ2qVS8F7xElIW5kDJNRljFn177gYKSqoyuwJt3ieHypuD2%2B5HLk%2FAh9ElMQxnyro7qL97ReFw%3D%3D
                        - id: '34'
                          name: My deal
                          num_of_visits: null
                          type: deal
                          price: 1000
                          currency: USD
                          description: very long description
                          full_details: very long details
                          start_date: '2023-08-31T21:00:00.000Z'
                          end_date: '2124-12-30T21:00:00.000Z'
                          repeat: '{}'
                          repeat_type: all
                          terms_and_conditions: very long terms of use
                          business_id: '27'
                          created_at: '2023-09-14T11:40:05.835Z'
                          updated_at: '2023-09-14T11:40:05.835Z'
                          deal_picture_url: >-
                            https://storage.googleapis.com/loyaltty-app.appspot.com/deal/27/Screenshot%202023-09-12%2019360418a937db704.png?GoogleAccessId=firebase-adminsdk-rva68%40loyaltty-app.iam.gserviceaccount.com&Expires=16441218000&Signature=isibV2jhtIflPbSTmjQ4mrSw78fP6vUJBLw8NqqEoHoFj9xQcLUDgkDXVdywbjHavIq8HoBesGV3NouA58b2H25u0BnTyBnLw5Y54MFcYSjKsFP%2FSGx05xPy1bQXShhLumU3iGf%2Fh9JOnxILdhbcI1r9uDKNYRfYita6DLJCUnr374Q2rwAYFr%2F0wmZwbYMpfpQwFlWrNmIILrnzPiuCpSovals2mOQVQxw%2B8CNgZfbt9WRGDt1wOk%2F1F5LauSA97SPtAoRVzI90SwpGmBye6Kvsk3lm8cVKdd1P3b3GN6avhSmVy%2FTW57asackWac5KIbra1dIAk96BG2n3ci8pjA%3D%3D
                        - id: '33'
                          name: My deal
                          num_of_visits: null
                          type: deal
                          price: 1000
                          currency: USD
                          description: very long description
                          full_details: very long details
                          start_date: '2023-08-31T21:00:00.000Z'
                          end_date: '2124-12-30T21:00:00.000Z'
                          repeat: '{}'
                          repeat_type: all
                          terms_and_conditions: very long terms of use
                          business_id: '27'
                          created_at: '2023-09-14T11:40:02.559Z'
                          updated_at: '2023-09-14T11:40:02.559Z'
                          deal_picture_url: >-
                            https://storage.googleapis.com/loyaltty-app.appspot.com/deal/27/Screenshot%202023-09-12%2019360418a937da92b.png?GoogleAccessId=firebase-adminsdk-rva68%40loyaltty-app.iam.gserviceaccount.com&Expires=16441218000&Signature=UiOJubG6Au7qt5jMYTD0JXSHycvARr7ST8vZGE0uiadbWy52XG56owwj37Miqm2NAKSeZ3t%2FMzTT%2F8UcRg%2FKqhp3g2bTbQgJ%2Bv9Pxq5O%2BMJwQZhj22IUm%2FKDV7RhDzQASXl%2BSzxVpAN2szZu0LEQwRU9WnRNGlRen1fDM%2FLMqP5gl%2F6lTj51syU%2Fay%2FDQp7Mq2QjV%2FNLIO4GmyrM88Qr%2BbZPIO6zUuVd%2BNXxrFrTeEYlhwERXRdmrhJm5s8j2oHOejxOIdXRPka06Y1VEq3fMKL6oJUDm8Xe7HkaRcKMdfCitPXqVyggW0DuLUMGQIsAImE%2FYLgvpyuJ2ZvMcUtDsA%3D%3D
                        - id: '25'
                          name: My deal
                          num_of_visits: null
                          type: deal
                          price: 1000
                          currency: USD
                          description: very long description
                          full_details: very long details
                          start_date: '2023-02-28T21:00:00.000Z'
                          end_date: '2023-10-01T21:00:00.000Z'
                          repeat: '{}'
                          repeat_type: all
                          terms_and_conditions: very long terms of use
                          business_id: '27'
                          created_at: '2023-09-14T09:02:47.649Z'
                          updated_at: '2023-09-14T09:02:47.649Z'
                          deal_picture_url: null
                        - id: '30'
                          name: My deal
                          num_of_visits: null
                          type: deal
                          price: 1000
                          currency: USD
                          description: very long description
                          full_details: very long details
                          start_date: '2023-02-28T21:00:00.000Z'
                          end_date: '2023-11-01T21:00:00.000Z'
                          repeat: '{}'
                          repeat_type: all
                          terms_and_conditions: very long terms of use
                          business_id: '27'
                          created_at: '2023-09-14T09:02:47.649Z'
                          updated_at: '2023-09-14T09:02:47.649Z'
                          deal_picture_url: null
                example-1:
                  summary: '[200] Get upcoming deals'
                  value:
                    success: true
                    message: deals
                    data:
                      count: 1
                      page: 1
                      limit: 10
                      deals:
                        - id: '32'
                          name: My deal
                          num_of_visits: null
                          type: deal
                          price: 1000
                          currency: USD
                          description: very long description
                          full_details: very long details
                          start_date: '2123-12-30T21:00:00.000Z'
                          end_date: '2124-12-30T21:00:00.000Z'
                          repeat: '{}'
                          repeat_type: all
                          terms_and_conditions: very long terms of use
                          business_id: '27'
                          created_at: '2023-09-14T11:39:24.669Z'
                          updated_at: '2023-09-14T11:39:24.669Z'
                          deal_picture_url: >-
                            https://storage.googleapis.com/loyaltty-app.appspot.com/deal/27/Screenshot%202023-09-12%2019360418a937d0efa.png?GoogleAccessId=firebase-adminsdk-rva68%40loyaltty-app.iam.gserviceaccount.com&Expires=16441218000&Signature=K5gMY1TQhxwptclpv3g5cqe8FAKbaFFqPtxLxatG4i1Z%2Fv7M7EFDZaMpQa%2FECj%2Faub2bKwpBy71xdhYOaUcW%2B9tgZDrd%2FyfPjVpDjOxmZ36oJcI2GfwRFwNQpUz9ejfuZjvQraVvBXL%2F2WUQOC%2BLcrT5onh0fAM%2FaUg3xAsArQtIm3ZRxfqG5b2Gr59uSD%2BzIWC%2BSJdiJtuoE19Yx9uTn4aJH%2BD61DY%2BxD1rdDtMGdMifOn%2BBlgwBXPr%2B3Mg4FqDMWp5aIolAjGxbco97xV6H9bB5P%2BKyJdvm1h3MKHcBaQ9L%2FVPtpcCcRNF%2BmMzrhVFNK9SdQjT%2BsDP%2F%2F2%2BaafoKA%3D%3D
                example-2:
                  summary: '[200] Get past deals'
                  value:
                    success: true
                    message: deals
                    data:
                      count: 1
                      page: 1
                      limit: 10
                      deals:
                        - id: '34'
                          name: My deal
                          num_of_visits: null
                          type: deal
                          price: 1000
                          currency: USD
                          description: very long description
                          full_details: very long details
                          start_date: '2023-08-31T21:00:00.000Z'
                          end_date: '2004-12-30T21:00:00.000Z'
                          repeat: '{}'
                          repeat_type: all
                          terms_and_conditions: very long terms of use
                          business_id: '27'
                          created_at: '2023-09-14T11:40:05.835Z'
                          updated_at: '2023-09-14T11:40:05.835Z'
                          deal_picture_url: >-
                            https://storage.googleapis.com/loyaltty-app.appspot.com/deal/27/Screenshot%202023-09-12%2019360418a937db704.png?GoogleAccessId=firebase-adminsdk-rva68%40loyaltty-app.iam.gserviceaccount.com&Expires=16441218000&Signature=isibV2jhtIflPbSTmjQ4mrSw78fP6vUJBLw8NqqEoHoFj9xQcLUDgkDXVdywbjHavIq8HoBesGV3NouA58b2H25u0BnTyBnLw5Y54MFcYSjKsFP%2FSGx05xPy1bQXShhLumU3iGf%2Fh9JOnxILdhbcI1r9uDKNYRfYita6DLJCUnr374Q2rwAYFr%2F0wmZwbYMpfpQwFlWrNmIILrnzPiuCpSovals2mOQVQxw%2B8CNgZfbt9WRGDt1wOk%2F1F5LauSA97SPtAoRVzI90SwpGmBye6Kvsk3lm8cVKdd1P3b3GN6avhSmVy%2FTW57asackWac5KIbra1dIAk96BG2n3ci8pjA%3D%3D
                example-3:
                  summary: '[200] Empty result'
                  value:
                    success: true
                    message: deals
                    data:
                      count: 0
                      deals: []
        '500':
          description: Internal Server Error
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Thu, 14 Sep 2023 10:43:32 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '136'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"88-kGzuy3jbefeo0jnFthtISWs5d7M"
          content:
            application/json:
              schema:
                type: object
              example:
                success: false
                message: Get deals failed, Please try again.
                detailes: Promise.ressolve is not a function
                errorCode: internal
  /retailer/business/categories:
    get:
      tags:
        - Retailer > Business > Categories
      summary: Get all categories
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.25.2
            Date:
              schema:
                type: string
                example: Mon, 18 Sep 2023 00:51:40 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '746'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"2ea-i3R9HMWaZtKRkU2uE7+P/E0IeH4"
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
                message: Categories fetched successfully
                data:
                  - id: '1'
                    name: Automotive Services
                  - id: '2'
                    name: Beauty and Personal Care
                  - id: '3'
                    name: Car Wash
                  - id: '18'
                    name: Coffee Shops and Bakeries
                  - id: '4'
                    name: Dance Studios
                  - id: '5'
                    name: Dry Cleaners
                  - id: '6'
                    name: Entertainment
                  - id: '7'
                    name: Flower Shops
                  - id: '8'
                    name: Furniture Stores
                  - id: '9'
                    name: Gift shops
                  - id: '10'
                    name: Grocery Stores
                  - id: '11'
                    name: Health and Wellness
                  - id: '12'
                    name: Hotels and Accommodations
                  - id: '13'
                    name: Insurance Agencies
                  - id: '14'
                    name: Restaurants
                  - id: '15'
                    name: Retail Stores
                  - id: '16'
                    name: Tutoring Centers
                  - id: '17'
                    name: Wine and Liquor Stores
        '500':
          description: Internal Server Error
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Mon, 18 Sep 2023 00:14:45 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '111'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"6f-PMYYAVZFxYQi8DvShnBIytUhb+4"
          content:
            application/json:
              schema:
                type: object
              example:
                success: false
                message: Failed to fetch categories, Please try again
                detailes: {}
                errorCode: internal
  /retailer/business/picture/{pictureId}:
    delete:
      tags:
        - Retailer > Business > Update bussiness
      summary: Delete image from business
      parameters:
        - name: pictureId
          in: path
          schema:
            type: integer
          required: true
          example: '171'
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Wed, 27 Sep 2023 15:30:42 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '2259'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"8d3-1cB9KCC0N3Vsi6OXiRiGpRfXohA"
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
                message: Picture deleted successfully
                data:
                  - id: '145'
                    business_id: '40'
                    picture_type: owner_id
                    created_at: '2023-09-27T15:30:27.618Z'
                    picture_url: >-
                      https://storage.googleapis.com/loyaltty-app.appspot.com/business/owner_id/7723433027-39/Screenshot%202023-09-26%2008030418ad7434891.png?GoogleAccessId=firebase-adminsdk-rva68%40loyaltty-app.iam.gserviceaccount.com&Expires=16441218000&Signature=rsuvSbByymYkJUHjxcfK2xCGLicJpNqN38AtAygWjQw06sk7z5iVB20B8zO0Y084fk2rHaVfaaiYsB0%2FV6t49SVO7EOqBBfxAfkO1QuN0KKh30MT1rOD40ppK%2Fr1QuDjBwpJgnPVLpooRUcm0rV3ToKKOSTH2opnBvNilxkKOGInbI3EbQGXtvMu0WZWgPHI7dv9CCkmQORLyEdW8isHWb%2FAd7xLG2NU8%2Fm%2B59e6CaKyvXd5ODvJdsPKT%2FzDa6WrSwAp4ne9OJcAvfjJCycH6iUp8qA1fXscP7SNNhYWFngVZOluR6hRReIkMtfYzEmgqp3p2BB7q9s2w2G29m4Rfw%3D%3D
                  - id: '146'
                    business_id: '40'
                    picture_type: store_images
                    created_at: '2023-09-27T15:30:27.710Z'
                    picture_url: >-
                      https://storage.googleapis.com/loyaltty-app.appspot.com/business/store_images/7723433027-39/Screenshot%202023-09-21%2017424918ad743488a.png?GoogleAccessId=firebase-adminsdk-rva68%40loyaltty-app.iam.gserviceaccount.com&Expires=16441218000&Signature=TpG5aFPj2MUYADp0KSqfXqepcuQG8wmkWW0xgBkBimvJyA0r%2FTCEKNlewDFA4It%2FdYiWf%2BDPtcZMDHlxaYQc5ut9ioVuCDu1e%2BvLKsIva0ZBLfPbfoIsenllwEIoe%2FoTgSJIwLwp2qJpaqHPftIhGUelD71CPzE9d2hTfQoJqJoZ%2FwdP6jcIid9ZCbbGx7M4o4%2FGB3%2B8QhHeF2dsCyK9FTtmdOBUG%2BH4kDSLyOojpqmVhDT2H14r6b4XXFvkuol6Qx%2BD6Rkr08WkiSNICSLe3dnORK1zupZ02AXfM7Z4QqBG8eU9VgT2d5Vw%2BhvRvcLmZmwj1pyzKDn5Abp1zcixlw%3D%3D
                  - id: '143'
                    business_id: '40'
                    picture_type: store_images
                    created_at: '2023-09-27T15:30:27.610Z'
                    picture_url: >-
                      https://storage.googleapis.com/loyaltty-app.appspot.com/business/store_images/7723433027-39/Screenshot%202023-09-21%2017425318ad74347b8.png?GoogleAccessId=firebase-adminsdk-rva68%40loyaltty-app.iam.gserviceaccount.com&Expires=16441218000&Signature=xkONJtQQsqIuSBYQeNx8S97aWeEUIqYjv9aO9IKeTzE9GtHHkWAGr29QEXGIbwTUvS85mlTcbNi3qC%2BhQxJlXh9T9mqC0OIVEb%2Ba%2BVXNOicEezo7oeQ5k%2FdvjOa0SG2Ps4txwLBgJwS07h2FT72ceBhjsC%2BJwPpNk0ZHUkk0CL8LHjkRaD96HYTiF7cNZmCMuZWHiwb61qN7DAQwNOhxvakkCb9sjNsBu5vvFew81zU5QQIWNMiCV2Ugx%2FL%2BDS5DNfq%2Bl4Wh97ylOtXpTx0TsV4a8nuRgGEhnSGSws%2FHsTsWa7kktTjEr%2BYUyuzmtuuYlr8OFT%2B3XjaNjZe1jnjPkA%3D%3D
        '404':
          description: Not Found
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Wed, 27 Sep 2023 15:01:44 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '70'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"46-1MMmklc991rs0zfPvwGCr05yDUA"
          content:
            application/json:
              schema:
                type: object
              example:
                success: false
                message: Picture not found
                errorCode: internal
        '500':
          description: Internal Server Error
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Wed, 27 Sep 2023 15:01:32 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '338'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"152-cxGWWDkCc9S0Xe9WcuFRGB/C2bU"
          content:
            application/json:
              schema:
                type: object
              example:
                success: false
                message: Failed to delete picture, Please try again
                detailes:
                  success: false
                  message: db_error
                  details:
                    length: 138
                    name: error
                    severity: ERROR
                    code: 22P02
                    where: unnamed portal parameter $1 = '...'
                    file: int8.c
                    line: '127'
                    routine: scanint8
                  errorCode: internal
                errorCode: internal
  /retailer/business/picture:
    put:
      tags:
        - Retailer > Business > Update bussiness
      summary: Update images
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                store_images:
                  type: string
                  description: 'Max: 3 images, 18MB each'
                  format: binary
      responses:
        '400':
          description: Bad Request
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Thu, 28 Sep 2023 00:40:01 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '151'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"97-FlHQsxoQPPQEhbWa2bKbXnrAbrY"
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: '[400] store have 3 pictures exist'
                  value:
                    success: false
                    message: >-
                      Store Images can not be more than 3. Please delete one of
                      the existing images to upload a new one.
                    errorCode: internal
                example-1:
                  summary: '[400] Invalid file type'
                  value:
                    success: false
                    message: >-
                      File type must be an image. allowed types: jpg, jpeg or
                      png
                    errorCode: internal
        '500':
          description: Internal Server Error
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Thu, 28 Sep 2023 00:38:56 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '145'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"91-50IWKqRlErVaxN8oni4bj8Qi1sQ"
          content:
            application/json:
              schema:
                type: object
              example:
                success: false
                message: Unexpected error occurs , Please try again.
                details: req.files[fieldName] is not iterable
                errorCode: internal
    post:
      tags:
        - Retailer > Business
      summary: Upload images
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                store_images:
                  type: string
                  description: 'Max: 3 images, 18MB each'
                  format: binary
                store_logo:
                  type: string
                  description: 'Max: 1 image, 18MB'
                  format: binary
                owner_id:
                  type: string
                  description: 'Max: 1 image, 18MB'
                  format: binary
                website_url:
                  type: string
                  description: Optional, will overwrite the old one.
                  example: http://google.com
      responses:
        '201':
          description: Created
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Sat, 02 Sep 2023 11:47:02 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '4205'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"106d-qJFeb/AtsKVWyOKu5Kzg3IVZ8qs"
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
                message: Business pictures uploaded successfully.
                data:
                  - business_id: '18'
                    picture_url: >-
                      https://storage.googleapis.com/loyaltty-app.appspot.com/business/store_images/7723433027-30/Screenshot%202023-08-13%2018381218a55b7ae6c.png?GoogleAccessId=firebase-adminsdk-rva68%40loyaltty-app.iam.gserviceaccount.com&Expires=16441218000&Signature=JoZQgLvccLnahOmpso6yQSWHtEfYnQepJV5wjTSXa5FDyht30H9AF3ApXbtZmhSmhMNVQivukOTM%2B7CtkdzZa9rjZ0aoThjRgWn0Q1dyMhQH8FO91Oe5B3f7lboaew1F%2Bhakec2JcwdM5nxvHjHFxExnFvBJ7q5vtnRVeNxrAJrvEJCO%2BA2gyfCsY3hfdeMltvOK7SuFPAXBhlnfv%2BkovN2TzaCa8tO7i8vXJkOO3JVBtAHrmabenqEB0EyB43qH7HERysgOj7xGW%2FFQfZelGOtfH8Vf%2FayuoUSi9ZNvrK3%2Fteky74LxBYRc%2Fj1ZsprQVniQfg6DzZh57DAVNNsLRg%3D%3D
                    picture_type: store_images
                    storage_path: >-
                      business/store_images/7723433027-30/Screenshot 2023-08-13
                      18381218a55b7ae6c.png
                    storage_type: firebase
                    created_at: '2023-09-02T11:47:02.412Z'
                  - business_id: '18'
                    picture_url: >-
                      https://storage.googleapis.com/loyaltty-app.appspot.com/business/store_images/7723433027-30/Capture00118a55b7af47.png?GoogleAccessId=firebase-adminsdk-rva68%40loyaltty-app.iam.gserviceaccount.com&Expires=16441218000&Signature=yVda3ZjpuuCHeJWnFPmnFqLncY70FdX8kIamhTisulJTPVpWVMRyFQn5ljy5KWNulfTxetisd95L%2BgW2UTkHbWIL1zzGP5CYn4wtvKMcDVwc9lXlgwbz%2FpCG%2BYFSN1IvgirBWJTN%2FGKdECLnGReKkLmuBXUbpgrE3a1MozDT%2Fk%2B5M5r6T5x7cdQ83yLF6IjrCOJCnRATLTGRhMhKN9TQGKeaWb3IZFFaxhM1uHt86O%2Ft7H37WTI%2FrntJ38Nei5zExXVTrOiwIvwWc%2FoUYniqfeCAjbsn%2FpqMAYD9xkmwGI%2BYggrReAn2Vs9gBXWW2Y4xS2HBurW72nT%2B5xzBoLYnxQ%3D%3D
                    picture_type: store_images
                    storage_path: >-
                      business/store_images/7723433027-30/Capture00118a55b7af47.png
                    storage_type: firebase
                    created_at: '2023-09-02T11:47:02.444Z'
                  - business_id: '18'
                    picture_url: >-
                      https://storage.googleapis.com/loyaltty-app.appspot.com/business/store_images/7723433027-30/Screenshot%202023-08-06%2014461818a55b7b48b.png?GoogleAccessId=firebase-adminsdk-rva68%40loyaltty-app.iam.gserviceaccount.com&Expires=16441218000&Signature=b8Fgrb5r8THTqzSSciqKE0BKbHXJNZvjmXw6Ki%2FYsETFwiPIJ4TIWRjwBFqluFXYuvvEOcQAyVUVHDWa90mh9rda%2FPIjJxV24eR1yIJzPHXHoFsneehQ6SOjljEd7jn%2B0O9a6ViwU4MBjSEDvGrBGYPjwBRSqJUJ%2BJ%2Fm339yQHEoK2Ew%2Frm1yrG5IdOHxJ4ou%2BBytcjpr8ldx7HrJLZ%2Buxy01EAQFNHn5bWFSQpnm%2BPpzg38Ax5486IIQnwjZVkTQ527hX471JQHifut5mhQrlw7CRhQYiv6wRB0XE9TRfuQhLpwzxGLAt8tW5uRZJJcqeLgdKpYNu71wIe%2BrE0nqw%3D%3D
                    picture_type: store_images
                    storage_path: >-
                      business/store_images/7723433027-30/Screenshot 2023-08-06
                      14461818a55b7b48b.png
                    storage_type: firebase
                    created_at: '2023-09-02T11:47:02.447Z'
                  - business_id: '18'
                    picture_url: >-
                      https://storage.googleapis.com/loyaltty-app.appspot.com/business/store_logo/7723433027-30/pocbot18a55b7b493.png?GoogleAccessId=firebase-adminsdk-rva68%40loyaltty-app.iam.gserviceaccount.com&Expires=16441218000&Signature=J9L2530Y3zHIp4F4X1NDnEbHsnl2Yrc%2FzcWEV1JkFMQGEaYgdRXFMVjrR7u0YrUNog8Jri29xBHY3juV6C%2FvJ9XgX3%2B7C7w%2BQFR86Rv1kcnDH4uNSi4jF%2BzV92OygIUIWtDPNAR%2B2RsvlrODGvVomLpBq06D1g79C8opLB1Ih11J8%2BV%2BmB4AKZC7lLYWB8%2FJqImEPNOn4T%2BuHR3dNdSxgEXxYQu0aHkL1Zaaer5X4FE5TujL74jYnfTpDfi3x5yGyK1vjqO%2BhBc7wxQl4aYyenXGqODIGHuRqxLsBk0kDBp3SbQb3ZhUVebfINnmB8scsshztDykuYtDt6gRGm3Xqw%3D%3D
                    picture_type: store_logo
                    storage_path: business/store_logo/7723433027-30/pocbot18a55b7b493.png
                    storage_type: firebase
                    created_at: '2023-09-02T11:47:02.450Z'
                  - business_id: '18'
                    picture_url: >-
                      https://storage.googleapis.com/loyaltty-app.appspot.com/business/owner_id/7723433027-30/Screenshot%202023-08-06%2014461818a55b7bd44.png?GoogleAccessId=firebase-adminsdk-rva68%40loyaltty-app.iam.gserviceaccount.com&Expires=16441218000&Signature=ricYbhOqkML%2FLyePj9ZTFmqsHSc5DAFAdDclc%2BOsWY5PJ0HwmCMom4oxbiBP6AAM5QtaWeyUtItLSH8aJPwLQlTlRvXkToH5yujwqY3MGPM3wUpVj1CEis6uyRxvJaS3VHFWXLBcvYkTr0v6dr6aijzzgRnoaDsQ51b5Yntv%2BUMvjP8Adn9COPDtS%2FWUFZzi8%2FEHafkcGJbfdVKEiOPJCApgQZ3jcrilDg0m94L9xlGWtv1fwDaibnS7%2FwoKKreUydwTAHGvwXbw%2FK2qjrObzmQ66iUddpzgXkTVflDPfk9ORxm%2BhOgfHvP4MwOiVLAoHCVSXC6nLtxHmgDN9kUTDQ%3D%3D
                    picture_type: owner_id
                    storage_path: >-
                      business/owner_id/7723433027-30/Screenshot 2023-08-06
                      14461818a55b7bd44.png
                    storage_type: firebase
                    created_at: '2023-09-02T11:47:02.453Z'
        '400':
          description: Bad Request
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Sat, 02 Sep 2023 11:49:42 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '89'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"59-ax2a7S9e+MnDhttydtdpVweN3WI"
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: '[400] Invalid file type'
                  value:
                    success: false
                    message: >-
                      File type must be an image. allowed types: jpg, jpeg or
                      png
                example-1:
                  summary: '[400] File too large'
                  value:
                    success: false
                    message: Maximum file size exceeded
                example-2:
                  summary: '[400] Upload limit exceeded'
                  value:
                    success: false
                    message: Maximum 3 images can be uploaded for Store Images
        '403':
          description: Forbidden
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Mon, 04 Sep 2023 15:13:11 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '88'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"58-15QrpZVY1Dhg4D0ZifjQMe3Q5bI"
          content:
            application/json:
              schema:
                type: object
              example:
                success: false
                errorCode: internal
                message: Please register your business first
        '500':
          description: Internal Server Error
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Sat, 02 Sep 2023 11:45:39 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '142'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"8e-u5nJuBhtF+fmhwR1BlyRkYPIRXY"
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: '[500] Upload fail'
                  value:
                    success: false
                    message: >-
                      Unexpected error occurs while uploading the pictures,
                      Please try again.
                    detailes: savePictures is not defined
                example-1:
                  summary: '[500] Internal error'
                  value:
                    success: false
                    message: Unexpected error occurs , Please try again.
                    detailes: {}
  /retailer/business:
    patch:
      tags:
        - Retailer > Business > Update bussiness
      summary: Update business information
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                phone_number: +964 772 3456789
                name: tawfeeq store
                address: 'ciro '
                postal_code: '123'
                description: description
                amount: '1'
                point_amount: '1'
                website_url: https://my.com
                category: 11
                phone_country_name: iq
                country: iq
      responses:
        '200':
          description: OK
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Mon, 02 Oct 2023 05:45:52 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '718'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"2ce-WRQWYbfVOte8tWJuZ1wnSFb53B0"
          content:
            application/json:
              schema:
                type: object
              example:
                success: true
                message: Business updated successfully
                data:
                  id: '43'
                  name: Ltr Store2
                  address: Iraq
                  phone_number: '7723433027'
                  user_id: '39'
                  phone_country_code: 964
                  category: '28'
                  description: >-
                    Tech store , and long dummy text,Tech store , and long dummy
                    text,Tech store , and long dummy text,Tech store , and long
                    dummy text,Tech store , and long dummy text,Tech store , and
                    long dummy text,Tech store , and long dummy text,Tech store
                    , and long dummy text,Tech store , and long dummy text
                  postal_code: 3601
                  website_url: https://google.com
                  country: EG
                  phone_country_name: ca
                  amount: 1000
                  point_amount: 10
                  created_at: '2023-10-01T13:41:10.768Z'
                  updated_at: '2023-10-02T05:45:52.389Z'
        '400':
          description: Bad Request
          headers:
            Server:
              schema:
                type: string
                example: nginx/1.23.3
            Date:
              schema:
                type: string
                example: Thu, 28 Sep 2023 10:18:41 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '96'
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"60-54qS4QQjzltdpDBqZcgSVSGU2RQ"
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: '[400] Phone already exist'
                  value:
                    success: false
                    errorCode: validation_error
                    errorMessages:
                      - Phone number already exists
                example-1:
                  summary: '[400] Validations error'
                  value:
                    success: false
                    errorCode: validation_error
                    errorMessages:
[...]
